/*14. Write a CSS class that changes the font color of the even elements to red.*/

div :nth-child(even) {
	color: red;
}

/*  15. Write a CSS class that changes the background color of the odd elements to azure.*/
 
 div :nth-child(odd) {
 	color: azure;
 }